<?php session_start(); ?>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>CMPE 273 Face Recognizer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    
    #videoElement {
        width: 100%;
        height: 375px;
        background-color: #666;
        border: 10px #FFF solid;
    }

    footer {
      /* padding: 25px; */
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
    }
    img{
        width: 200px;
        height: 200px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="face_recognizer.html">Face Recognizer</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="face_recognizer.html">Home</a></li>
        <li><a href="create_user.html">Create New User</a></li>
        <li><a href="verify_user.html">Verify User</a></li>
        <li><a href="attendance.html">Attendance</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href='face_recognizer.html'><span class='glyphicon glyphicon-user'></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div id="container" class="col-sm-3">
    </div>    

    <div id="container" class="col-sm-6">
      <h1 style="text-align: center;">Face Recognizer</h1>
      <video autoplay="true" id="videoElement">
       
      </video>
      <!-- <button type="button" id="snap" class="btn btn-primary center-block">Take Picture</button> -->
    </div>

    <div id="container" class="col-sm-3">
    </div>
  </div>

  <!-- <canvas id="canvas" width="640" height="480"></canvas> -->

<script>
  var video = document.querySelector("video");

  // Elements for taking the snapshot
  //var canvas = document.getElementById('canvas');
  //var context = canvas.getContext('2d');
  var video = document.getElementById('videoElement');
 
  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
   
  if (navigator.getUserMedia) {       
      navigator.getUserMedia({video: true}, handleVideo, videoError);
  }
   
  function handleVideo(stream) {
      video.src = window.URL.createObjectURL(stream);
      video.play();
  }
   
  function videoError(e) {
       alert('getUserMedia() is not supported in your browser');
  }

</script>

</body>
<footer class="container-fluid text-center">
  <p>© 2017, CMPE 273 Face Recognizer</p>
</footer>

</html>
